@font-face {
  font-family: Monserrat;
  src: url('../fonts/Montserrat-Black.ttf') format('ttf'),
    url('../fonts/Montserrat-Bold.ttf') format('ttf'),
    url('../fonts/Montserrat-Light.ttf') format('ttf'),
    url('../fonts/Montserrat-SemiBold.ttf') format('ttf'),
    url('../fonts/Montserrat-Thin.ttf') format('ttf'),
    url('../fonts/Montserrat-ExtraBold.ttf') format('ttf');
}

body,
html,
.container-fluid,
.row {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 2;
  /* background: url('../img//logo_320x370.png') #000; */
}

.logo-center {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 20px;
  opacity: 1;
  transition: filter 1.5s, top 1.5s;
}

.btnBottomPresentation {
  position: fixed;
  z-index: 9998;
  width: 100%;
  bottom: 20px;
  opacity: 1;
  transition: opacity 1s;
}

.btnTopPresentation {
  position: fixed;
  z-index: 9998;
  width: 100%;
  top: 20px;
  opacity: 1;
  transition: opacity 1s;
}

.btnBottomPresentation i {
  color: #fff;
  font-size: 30px;
  align-items: center;
  border: 0.5px solid;
  padding: 0px 40px 10px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btnTopPresentation i {
  color: #ccc;
  font-size: 30px;
  align-items: center;
  border: 0.5px solid;
  padding: 10px 20px 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btnBottomPresentation {
  vertical-align: bottom;
}

.btnTopPresentation {
  vertical-align: top;
}

.btnBottomPresentation i:hover {
  background: #ccc;
  opacity: 0.3;
  color: #000;
}

.btnTopPresentation i:hover {
  background: #000;
  opacity: 0.3;
  color: #ccc;
}

.btnHidePresentation {
  opacity: 0;
}

.btnShowPresentation {
  opacity: 1;
}

.presentation {
  background: #fff;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: calc(100vh - 240px);
  overflow: auto;
  z-index: 1;
}

.presentation h3 {
  font-weight: bold;
  font-style: italic;
}

.presentation .container:first-child {
  font-size: 23px;
  font-weight: lighter;
}

.principal-hide {
  margin-top: -60%;
}

.logo-invert {
  filter: invert(85%);
  position: fixed;
  top: 100px;
}

.logo-center img {
  display: flex;
  align-items: center;
  vertical-align: top;
  margin: 0 auto;
}

.principal {
  transition: margin-top 1s ease-in-out;
}

.bg1,
.bg2,
.bg3 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0%);
  margin-left: auto;
  opacity: 0.7;
  padding: 0;
  cursor: pointer;
  transition: filter 0.1s, opacity 0.1s, height 0.1s;
}

.bg1 {
  background-image: url('../img/janela-1-fotografia.jpg');
}
.bg2 {
  background-image: url('../img/janela-2-videomaker.jpg');
}
.bg3 {
  background-image: url('../img/janela-2-designer.jpg');
}

.mouse-over-bg {
  filter: saturate(100%);
  opacity: 1;
  height: 101%;
}

.hide-photo {
  position: relative;
  transition: margin-left 2s ease-in-out;
  margin-left: -300px;
}

.shape1,
.shape2,
.shape3 {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 1s;
}

.shape-none {
  opacity: 0;
}

.title-photo,
.title-video,
.title-design {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  opacity: 0;
  /* animation: neonGlow 5s infinite alternate; */
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: opacity 0.5s, animation 0.5s;
}

.title-opacity {
  opacity: 1;
}

@keyframes hidePhoto {
  0% {
    margin-left: auto;
  }

  100% {
    margin-left: -400px;
  }
}
